__pycache__/
*.pyc
.env
venv/
.venv/
*.egg-info/
dist/
build/
bot_token.txt
API.txt
*.db
*.db-journal
cache/
_chart.png
_nat.svg
_natal_test.png


hip_main.dat
hip_main.dat.download
*-e45df0572f61.json
zlata-*.json
